@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}
.shop--update--form-container{
    width:40%;
    height:550px;
    border-radius: 16px;
    background-color: white;
    z-index: 10;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3% 2%;
    overflow: hidden;
    overflow-y: scroll;
}
.shop--update--form-container::-webkit-scrollbar{
    display: none;
}
.shop--update--form{
    width:100%;
    height: 100%;
}
.shop--update--form--input{
    width:100%;
    height:40px;
    border-radius: 8px;
    border:1px solid black;
    margin-bottom: 2%;
    text-indent: 3%;
}
.shop--update--form--input:focus{
    border-color:1px solid blue;
}
.update--shop--form--title{
    width:100%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3%;

}
.shop--update--form--label{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.6;
    margin-right:5%;
}
.payment--methods--holder--updateForm{
    width:100%;
    border:1px solid red;
    height:80px;
}
.shop--update--form--input--checkbox{
   margin-left:5%;
   

}
#update--shop--submit{
    width:100%;
    margin-top:3%;
    height:40px;
    border-radius: 8px;
    background-color:greenyellow;
    border:none;
    font-weight: bold;
    cursor: pointer;
}
#update--shop--cansel{
    width:100%;
    margin-top:4%;
    height:40px;
    border-radius: 8px;
    background-color:black;
    color: white;
    border:none;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5%;
}
