@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
}

/*NavBar styles starts from here*/

.nav--bar{
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items-container{
    width:40%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav-items-container a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 15px;
    
}

.profile--holder{
    width:5%;
    height:80%;
}
.profile--icon{
    width:100%;
    height:100%;
    object-fit: scale-down;
}
.logo{
    font-size:20px;
    font-weight:800;
}

/*Seller Dashboard styles starts here*/

.dashboard--holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    margin-top: 5%;
    margin-left:3%;
    gap:3%;
}
.left--menu{
    width:20%;
    height:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius:16px;
    background-color: #E0E5B6;

}
.shops--title{
    margin-top:10%;
    width:100%;
    height:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3%;
}
.shopTitle{
    font-size:15px;
    font-weight: bold;
    opacity: 0.7;
    cursor: pointer;
}
.shop--icon{
    opacity: 0.7;
}
.right--menu{
    width:75%;
    height:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-right:5%;
    
}
.seller-profile--holder{
    width:40%;
    height:30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
.seller--profile--photo{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.seller--name{
    font-size: 30px;
    font-weight: bold;
    color:black;
    
}
.seller--full--name{
    font-size: 17px;
    font-weight: bold;
    margin-top: 3%;
    
}
.section--01{
    width:100%;
    height:5%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.create--shop--button{
    width:140px;
    height:48px;
    border-radius: 1000px;
    background-color: #173B45;
    color:white;
    font-size: 16px;
    border:none;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 0.7s;
}
.create--shop--button:active{
    transform: scale(0.9);
}
.section--02{
    width:100%;
    height:100%;
    margin-top:3%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:4%;
    flex-wrap: wrap;
}

/*Shop styles starts from here*/
.shop--container{
    width:28%;
    max-width:28%;
    height:320px;
    border-radius:16px;
    display: flex;
    border:1px solid black;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:1%;
    margin-bottom: 4%;
    transition-duration:0.9s;
}
.orders--count--holder{
    width:50%;
    height:100%;
    border:1px solid blue;
    display:flex-start;
    justify-content: center;
    align-items: center;
}

.first--half{
    width:100%;
    height:80%;
    color:white;
    border-radius:16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    
}

.second--half{
    width:100%;
    height:20%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:3%;
}
.shop--upper{
    width:90%;
    height:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
    gap:40%;
    
}
.bell--holder{
    width:50%;
    height:75%;
    display:flex;
    justify-content: right;
    align-items: center;
}
.bell--icon{
    width:50%;
    height:100%;
    cursor: pointer;
}
.date--holder{
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.city{
    font-size:15px;
    font-weight:400;
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:gainsboro;
   
   
}
.shop--name--container{
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
   
}
.rating--image--holder{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:40%;
}

.rating--count--value{
    width:100%;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.shop--name{
    width:fit-content;
    font-size:25px;
    font-weight:800;
    

}
.payment--methods--container{
    width:100%;
    height:15%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3%;
    margin-top:4%;
}
.method{
    width:28%;
    height:80%;
    padding-right:8%;
    padding-left:8%;
    border-radius:1000px;
    border:1px solid white;
    display:flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    
    
}
.product--category--container{
    margin-top: 2%;
}
.product--category{
    font-weight:400;
    font-size:17px;
}
.analytic--section{
    width:100%;
    height:25%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:3%;
}
.sales--box{
    width:25%;
    min-height:60px;
    height:100%;
    border-radius:16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second--title{
    font-size:17px;
    font-weight:500;
    
}
.manage--button{
    width:30%;
    height:60%;
    border-radius:1000px;
    background-color:black ;
    color:white;
    border:none;
    font-weight: 500;
    cursor: pointer;

}

/*Create Shop Form styles starts from here*/

.seller--dashboard--holder{
    position:relative;
    width:100%;
    height:100%;
}
.form--container{
    margin-left:10%;
    position:absolute;
    background-color: white;
    z-index: 1;
    margin-top:4%;
    border:2px solid black;
    width:80%;
    height:50%;
    min-height:600px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}

.form--Info{
    width:100%;
    height:20%;
    border:2px solid green;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form--title{
    font-size:40px;
    font-weight: bolder;
    color:black;
    text-align: center;
}
.form-description{
    width:65%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    opacity: 70%;
    margin-top:1%;
}
.form{
    width:100%;
    height:100%;
    margin-top: 2%;
    border:2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sector--1{
    width:50%;
    height:100%;
    border:2px solid green;
}
.sector--2{
    width:50%;
    height:100%;
    border:2px solid blue;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
}
.form input[type="text"]{
    width:90%;
    height:45px;
    margin-bottom:3%;
    border-radius:8px;
    border:2px solid #B5CFB7;
    text-indent: 3%;
    margin-left:3%;
    outline:none;
    font-weight: bold;
    
}
.form select{
    width:90%;
    margin-left:3%;
    height:45px;
    margin-bottom: 3%;
    border-radius:8px;
    font-size:15px;
    text-align: center;
    border:2px solid #B5CFB7;
    outline:none;
    font-weight: bold;
    opacity: 75%;

}
.form label{
    font-size:15px;
    font-weight:bold;
    margin-left:3%;
    
}
#shopDescription{
    height:75px;
}
.payment--methods{
    font-size: 17px;
    margin-bottom: 3%;
    font-weight: bolder;

}
.payment--option--holder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin-bottom: 3%;
}
.subscription--plan--title{
    margin-bottom:3%;
}
.plans--container{
    width:100%;
    height:60%;
    margin-top:3%;
    border:2px solid blue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.plan{
    width:32%;
    height:250px;
    border:1px solid black;
    border-radius:0 16px 0 16px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.plan--price--holder{
    width:100%;
    height:15%;
    border:2px solid brown;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
.plan--price{
    font-size:30px;
    font-weight: 800;
}
.plan--duration--text{
    font-weight: bold;
    opacity: 70%;
    margin-top:6%;
}
.plan--Name{
    font-size:15px;
    font-weight:800;
    text-align: center;
    margin-top:3%;
}
.form input[type="checkbox"]{
    margin-right:3%;
}
.payment--label{
    margin-right:2%;
}
.submit--button--holder{
    width:100%;
    height:auto;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.submit--button{
    width:25%;
    height:40px;
    border-radius:1000px;
    background-color:black;
    color:white;
    font-weight: bold;
    border:none;
    margin-top:3%;
    margin-right: 2%;
}